<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ubi.di.pdm.tiagomartins">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconcardapioapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconcardapioapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LoginAdmin"
            android:label="Login"
            android:parentActivityName=".MenuPrincipal">


        </activity>


        <activity
            android:name=".MenuAdmin"
            android:label="Administração"
            android:parentActivityName=".LoginAdmin"
                >

        </activity>

        <activity
            android:name=".AdicionarPrato"
            android:label="Adicionar Prato"
            android:parentActivityName=".MenuAdmin">

        </activity>

        <activity
            android:name=".ConsultarPratos"
            android:label="Consultar Cardápio"
            android:parentActivityName=".MenuPrincipal"
            >

        </activity>
        
        <activity
            android:name=".InfoPrato"
            android:label="Detalhes"
            android:parentActivityName=".ConsultarPratos"
            >


        </activity>

        <activity
            android:name=".EditPrato"
            android:label="Editar Prato"
            android:parentActivityName=".MenuAdmin">

        </activity>



    </application>

</manifest>